<!-- 게임 방법 -->
<div data-role="page" id="howto" class="wrap">
	<div data-role="header" data-theme="e">
		<h1>HOW TO PLAY</h1>
	</div>

	<div data-role="content" data-theme="d">
        <div id="rotateF" style="display: none;">
            <img src="/images/rotate.png" width="250" height="212" alt=""/>
            <p>화면을 가로로 돌려주세요</p>
        </div>
        <div id="rotateT" style="display:block;">
            <div id="step2_ios">
                <ul>
                    <li>세로 화면 기준으로 제작되었습니다.</li>
                    <li>화면 전환 잠금을 설정하시면 좀 더 편리합니다~</li>
                </ul>
            </div>
            <div id="step2_android">

            </div>
            <p>
                <a href="/game" onclick="startRace();" data-role="button" data-theme="c">게임하기</a>
            </p>
        </div>
	</div>
</div>
