<!-- 초기 접속 화면 -->
<div data-role="page" id="welcome" class="wrap">
	<div data-role="content">
		<h2 class="hidden">DDC2011 붕붕카</h2>
            <div class="btn_area">
				<a href="/select" data-role="button" data-inline="true" data-theme="e">시작하기</a>
            </div>
            <p class="copy">
                copyright kyungw00k & ryee
            </p>
	</div>
</div>
