<!-- 결과 -->
<div data-role="page" id="like" class="wrap">
	<div data-role="header">
		<h1>만족하십니까?</h1>
		<a href="#" data-role="button" onclick="location.href='/';" data-icon="home">처음으로</a>
	</div>
	<div data-role="content" style="text-align:center;background-color:#fff">
		<a href="http://m.daum.net" onclick="socket.emit('like');"><img src="/images/like.png" alt=""/></a>
	</div>
</div>
