<div data-role="page" id="nocar" class="wrap">
    <div data-role="header" data-theme="e">
		<h1>풀방 안내</h1>
		<a href="/" onclick="socket.emit('disconnect');" data-role="button" data-icon="home">처음으로</a>
	</div>
	<div data-role="content" data-theme="d" style="text-align:center">
		다른 차가 모두 사용중입니다. 잠시 후에 사용해주세요 :)
	</div>
</div>

